* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    background-color: #FAFAFA;
    height: 100%;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
}

a {
    text-decoration: none;
    color: #666666;
}

li {
    list-style: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/*header*/
#header {
    height: 100%;
}

.nav {
    margin: 30px 0;
}

.nav-left {
    float: left;
    height: 30px;
}

.nav-left>ul>li {
    font-size: 16px;
    line-height: 30px;
    padding-right: 20px;
    float: left;
}

.nav a {
    color: #666666;
    transition: color 0.3s;
}

.nav a:hover {
    color: #1198BB;
}

.nav-logo {
    background: url(../imgs/logo-black.svg) no-repeat;
    margin-top: 7px;
    height:16px;
    width: 120px;
}

.nav-right {
    position: relative;
    float: right;
    height: 30px;
}

.nav-right>ul>li {
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
    float: right;
}

.nav-right .register {
    border: 2px solid #29B8D5;
    border-radius: 16px;
    padding: 0 10px;
}

.nav-right .register:hover {
    background-color: #1198BB;
    box-shadow: 0 8px 8px rgba(0,189,229,.2);
}

.nav-right .register:hover a {
    color: #fff;
}

.nav-right .register a{
    color: #1198BB;
}


.nav-right .drop-list {
    display: none;
    position: absolute;
    left: 10px;
    width: 200px;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 #eee;
    padding: 10px;
    background-color: #ffffff;
}
.nav-right li:hover .drop-list {
    display: block;
}


/*home*/
.home {
    height: 100%;
    min-height: 715px;
    display: flex;
    flex-direction: row;
    width: 100%;
}


.home .home-left {
    flex: 1;
    padding-top: 150px;
    padding-left: 200px;
}

.home .home-left .home-left-top {
    height: 150px;
    width: 450px;
    overflow: hidden;
    position: relative;
}

.home .home-left .home-left-top ul {
    position: absolute;
    top:0;
    animation: home 15s linear infinite;
}

@keyframes home {
    0%{
        top:0;
    }
    3%{
        top:-145px;
    }
    20%{
        top:-145px;
    }
    23%{
        top: -290px;
    }
    40%{
        top: -290px;
    }
    43%{
        top: -435px;
    }
    60%{
        top: -435px;
    }
    63%{
        top: -580px;
    }
    80%{
        top: -580px;
    }
    83%{
        top: -725px;
    }
    100%{
        top: -725px;
    }
}

.home .home-left .home-left-top h1 {
    line-height: 75px;
    font-size: 54px;
    font-weight: 200;
}

.home .home-left-mid h2 {
    padding: 20px 0;
    font-size: 28px;
    font-weight: 200;
}

.home .home-left-bottom a{
    padding: 5px 15px;
    font-size: 18px;
    color: #35C8E6;
    border: 2px solid #35C8E6;
    border-radius: 25px;
}

.home .home-left-bottom a:hover{
    background-color: #1AB6D6;
    color: #fff;
    box-shadow: 0 5px 10px rgba(94,197,210,0.5);
}

.home .home-left-bottom a:nth-child(1) {
    color: #fff;
    background-color: #35C8E6;
    margin-right: 20px;
}


.home .home-right {
    flex: 1;
    padding-top: 100px;
    margin-left: 200px;
}



.home-right .screen-top{
    background: #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 50px;
    width: 180px;
    box-shadow: 2px -2px 2px rgba(204,204,204,0.3);
    padding-top: 20px;
}

.home-right .screen-top .heng {
    height:5px;
    background-color: rgba(204,204,204,0.6);
    border-radius: 3px;
    width: 40px;
    margin: 0 auto;
}

.home-right .screen-bottom {
    background: #ffffff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    width: 180px;
    box-shadow: 2px 2px 2px rgba(204,204,204,0.3);
    padding-top: 10px;
}

.home-right .screen-bottom .yuan{
    height: 30px;
    width:30px;
    border: 2px solid rgba(204,204,204,0.6);
    margin: 0 auto;
    border-radius: 15px;
}

.home-right .screen {
    position: relative;
    height: 294px;
    width: 180px;
    border-left: 11px solid #ffffff;
    border-right: 11px solid #ffffff;
    box-shadow: 2px 0 2px rgba(204,204,204,0.3);
    overflow: hidden;
}

.home .home-right ul {
    position: absolute;
    left: 0;
    width: 2000px;
    animation: phone 15s linear infinite;
}

@keyframes phone {
    0%{
        left: 0;
    }
    3%{
        left: -166px;
    }
    20%{
        left: -166px;
    }
    23%{
        left: -332px;
    }
    40%{
        left: -332px;
    }
    43%{
        left: -498px;
    }
    60%{
        left: -498px;
    }
    63%{
        left: -664px;
    }
    80%{
        left: -664px;
    }
    83%{
        left: -830px;
    }
    100%{
        left: -830px;
    }
}

.home .home-right ul li {
    float: left;
}

.home .home-right ul li img{
    height: 294px;
    width: 166px;
}



/*content*/

/*enter*/
.enter{
    display: flex;
    flex-direction: row;
}
.enter .four {
    text-align: center;
    flex:1;
    border: 1px solid #eee;
    padding: 40px 0;
    transition: all 0.3s;
}
.enter .four:nth-child(1){
    border-left: none;
}
.enter .four:nth-child(4){
    border-right:none;
}

.enter .four h3 {
    font-size: 20px;
    padding-bottom: 8px;
    font-weight: 500;
}

.enter .four p {
    font-size: 16px;
    color: #6A6A6A;
}

.enter .four:hover h3{
    color: #fff;
}

.enter .four:hover p{
    color: #eee;
}

.enter .four:nth-child(1):hover{
    transform: scale(1.1);
    background: linear-gradient(to right,#FC9CA0 ,#EE5169);
    box-shadow: 5px 5px 10px rgba(238,81,105,0.3);
}

.enter .four:nth-child(2):hover{
    transform: scale(1.1);
    background: linear-gradient(to right,#51BDD0 ,#5FC5D2);
    box-shadow: 5px 5px 10px rgba(94,197,210,0.3);
}

.enter .four:nth-child(3):hover{
    transform: scale(1.1);
    background: linear-gradient(to right,#64ADEE ,#4473B8);
    box-shadow: 5px 5px 10px rgba(69,117,185,0.3);
}

.enter .four:nth-child(4):hover{
    transform: scale(1.1);
    background: linear-gradient(to right,#5FD5B4 ,#7BD4D2);
    box-shadow: 5px 5px 10px rgba(98,213,183,0.3);
}

/*introduce*/

/*know*/

.know {
    text-align: center;
    margin: 100px auto;
    max-width: 850px;
}

.know h3{
    font-size: 24px;
    color: #9E9E9E;
    font-weight: 200;
    padding-bottom: 20px;
}

.know h2 {
    font-size: 38px;
    font-weight: 300;
    padding-bottom: 20px;
}

.know p {
    color:#212121;
    padding-bottom: 2px;
}

.know a {
    display: inline-block;
    padding: 20px 0;
    color: #35C8E6;
}

.know a:hover {
    color: #29B8D5;
    text-decoration: underline;
}

.know .know-bg {
    height: 250px;
    background: url(../imgs/home-planets.svg) no-repeat;
    background-position: center;
    margin-top: -90px;
    margin-bottom: -20px;
}

.know .know-num ul li {
    display: inline-block;
    padding: 0 20px;
}

.know .large {
    font-size: 50px;
    color: #757575;
}

/*advantage*/
.advantage {
    text-align: center;
}



.advantage .full{
    text-align: left;
    max-width:140px;
    display: inline-block;
    margin: 50px;
    padding-top: 50px;
}

.advantage .full:nth-child(1) {
    background: url(../imgs/home-integration.svg) no-repeat;
}

.advantage .full:nth-child(2) {
    background: url(../imgs/home-reliable.svg) no-repeat;
}

.advantage .full:nth-child(3) {
    background: url(../imgs/home-transactions.svg) no-repeat;
}

.advantage .full:nth-child(4) {
    background: url(../imgs/home-security.svg) no-repeat;
}

.advantage h3{
    font-size: 18px;
    font-weight: 400;
    color: #4A4A49;
}

.advantage p {
    font-size: 14px;
    color: #7E7E7D;
}

/*pay-way*/
.pay-way{
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.pay-way .pay {
    flex: 1.2;
    position: relative;
    padding: 0 20px;
}

.pay-way .pay .phone1 {
    background: url(../imgs/home-iphone-pay@2x.png) no-repeat;
    width: 240px;
    height: 458px;
    background-size: 240px 458px;
    position: absolute;
    top:20px;
    right: 100px;
}

.pay-way .pay .phone1 .phone1-word {
    position: absolute;
    width: 180px;
    top: 160px;
    left: -115px;
    padding-right: 80px;
    background: url(../imgs/home-tip-line-left.svg) no-repeat right;
}

.pay-way .pay .phone1 .phone1-word h3,.pay-way .pay .phone2 .phone2-word h3 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 4px;
}

.pay-way .pay .phone1 .phone1-word p,.pay-way .pay .phone2 .phone2-word p  {
    font-size: 16px;
}

.pay-way .pay .phone2 {
    background: url(../imgs/home-iphone-hongbao@2x.png) no-repeat;
    width: 264px;
    height: 375px;
    background-size: 264px 375px;
    position: absolute;
    left: 70px;
    bottom: 20px;
}

.pay-way .pay .phone2 .phone2-word {
    position: absolute;
    width: 200px;
    top: 220px;
    left: 180px;
    padding-left: 100px;
    background: url(../imgs/home-tip-line-right.svg) no-repeat left;
}

.pay-way .way {
    flex: 1;
    padding: 180px 20px;
}

.pay-way .way h3 {
    font-weight: 300;
    padding-bottom: 20px;
    color: #9E9E9E;
}

.pay-way .way h2 {
    font-size: 38px;
    font-weight: 300;
}

.pay-way .way p {
    padding: 20px 0;
    color: #212121;
}

.pay-way .way a {
    color: #35C8E6;
}

.pay-way .way a:hover {
    color: #29B8D5;
    text-decoration: underline;
}

/*manage*/
.manage {
    display: flex;
    flex-direction: row;
}

.manage .manage-word {
    flex: 1;
    padding: 100px 100px 100px 20px;
}

.manage .manage-word h3 {
    font-weight: 300;
    padding-bottom: 20px;
    color: #9E9E9E;
}

.manage .manage-word h2 {
    font-size: 38px;
    font-weight: 300;
}

.manage .manage-word p {
    padding: 20px 0;
    color: #212121;
}

.manage .manage-word a {
    color: #35C8E6;
}

.manage .manage-word a:hover {
    color: #29B8D5;
    text-decoration: underline;
}

.manage .manage-pic {
    flex: 1.2;
    background: url(../imgs/home-dashboard@2x.png) no-repeat;
    height: 380px;
    background-size: cover;
    margin-left: -80px;
    margin-top: 100px;
}

/*carousel*/

.carousel {
    height: 480px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel .img-ct {
    position: absolute;
    width: 400%;
    height: 480px;
}

.carousel .img-ct li {
    float: left;
    width: 25%;
    height: 480px;
}

.carousel .carousel-pic {
    width: 100%;
    height: 480px;
    background-size: cover;
}

.carousel .carousel-deyin {
    background: url(../imgs/home-cases-deyin.jpeg) no-repeat;

}

.carousel .carousel-tezign {
    background: url(../imgs/home-cases-tezign.jpeg) no-repeat;
}

.carousel .carousel-jianshu {
    background: url(../imgs/home-cases-jianshu.jpeg) no-repeat;
}

.carousel .carousel-huwai {
    background: url(../imgs/home-cases-huwai.jpeg) no-repeat;
}

.carousel .carousel-dingxiang {
    background: url(../imgs/home-cases-dingxiang.jpeg) no-repeat;
}

.carousel .carousel-words {
    width: 60%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}

.carousel .carousel-words h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
}

.carousel .carousel-words .carousel-logo {
    padding: 20px 0;
}

.carousel .carousel-words .carousel-logo img {
    max-height: 30px;
    vertical-align: text-top;
    border-right: 2px solid #fff;
    padding-right: 10px;
}



.carousel .carousel-words a {
    padding-left: 10px;
    color: #fff;
}

.carousel .carousel-words a:hover {
    text-decoration: underline;
}

.carousel .bullet {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.bullet li {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    border: 1px solid #fff;
    cursor: pointer;
    margin: 0 3px;
    display: inline-block;
}

.bullet .active {
    background-color: #fff;

}

/*about*/
.about>.container {
    display: flex;
    flex-direction: row;
}

.about .about-items {
    flex: 1;
    text-align: center;
    padding: 120px 0 50px 0;
    background: #ccc;
    border-bottom: 1px solid #ccc;
}

.about .about-items h3 {
    font-weight: 300;
    padding-bottom: 20px;
    color: #9E9E9E;
}

.about .about-items p {
    font-size: 18px;
    color: #212121;
}

.about .about-items a {
    display: inline-block;
    padding-top: 20px;
    color: #35C8E6;
}

.about .about-items:nth-child(1):hover a,.about .about-items:nth-child(2):hover a,.about .about-items:nth-child(3):hover a {
    color: #29B8D5;
    text-decoration: underline;
}

.about .about-items:nth-child(1):hover,.about .about-items:nth-child(2):hover,.about .about-items:nth-child(3):hover{
    background-color: #F2F2F2;
    cursor: pointer;
}



.about .about-items:nth-child(1){
    background: url(../imgs/home-bottom-signup.svg) no-repeat center 50px;
}
.about .about-items:nth-child(2){
    background: url(../imgs/home-bottom-plans.svg) no-repeat center 50px;
}
.about .about-items:nth-child(3){
    background: url(../imgs/home-bottom-contact.svg) no-repeat center 50px;
}


/*help*/

.help {
    padding: 100px 0;
}

.help p {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 20px;
}

.help .company-items img {
    max-height: 40px;
    max-width: 180px;
}

.help .company-line {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.help .company-items{
    flex: 1;
    text-align: center;
}


/*footer*/
#footer {
    padding: 50px 0;
}

#footer ul li {
    font-size: 16px;
    float: left;
    padding-right: 20px;
}

#footer .right {
    color: #BDBDBD;
    font-size: 16px;
    padding: 10px 0;
}

#footer .right a:hover {
    text-decoration: underline;
}

.fixed {
    position: fixed;
    z-index: 100;
    bottom: 40px;
    right: 40px;
}
.fixed a {

    font-size: 16px;
    display: inline-block;
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 50px;
    border-radius: 28px;
    color: #fff;
    background-color: #35C8E6;
    transition: all 0.2s;
    animation: fixed 3s infinite linear;
    box-shadow: 0 0 2px 2px rgba(0,189,229,.2);
}

@keyframes fixed {
    0%{
        box-shadow: 0 0 2px 2px rgba(0,189,229,.2);
        background-color: #35C8E6;
    }
    50%{

        box-shadow: 0 0 20px 15px rgba(0,189,229,.2);
        background-color: rgba(0,189,229,.5);
    }
    100%{
        box-shadow: 0 0 2px 2px rgba(0,189,229,.2);
        background-color: #35C8E6;
    }
}

.fixed a:hover {
    color: #666;
}

.fixed-tab {
    width: 400px;
    position: fixed;
    background: #fff;
    z-index: 101;
    height: 100vh;
    right: -420px;
    top: 0;
    box-shadow: -5px 0 5px rgba(204,204,204,0.3);
}

.fixed-tab .product {
    padding: 20px 50px;
}

.fixed-tab .product p {
    font-size: 18px;
    padding-top: 20px;
}

.fixed-tab .product input,.fixed-tab .product select,.fixed-tab .product textarea{
    border-radius: 3px;
    width: 300px;
    height: 30px;
    padding: 5px;
}

.fixed-tab .wechat {
    position: absolute;
    width: 400px;
    bottom: 0;
    left:0;
    padding:30px  20px;
    border-top: 1px solid #ccc;
    background: #fff;
    z-index: 102;
}

.fixed-tab .wechat img {
    position: absolute;
    width: 150px;
    height:150px;
    top:-115px;
    left: 20px;
    display: none;
}

.fixed-tab .wechat p {
    font-size: 14px;
    color: #B0B0B0;
}

.fixed-tab .wechat p strong {
    color: #666;
    cursor: pointer;
}

.fixed-tab .wechat p strong:hover img{
    display: block;
}



.fixed-tab .wechat .x {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
}

.fixed-tab .wechat .x:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.fixed-tab .wechat .x p {
    color: #666;
    line-height: 40px;
    font-size: 30px;
}
